.left {
  float: left;
  border: 11px solid black;
  width: 45%;
  height: auto;
  text-align: center;
  clear: both;
  margin-bottom: 5px;
  margin-left : 4%;
  background-color: white;
}

#id1 div, #id2 div, #id3 div, #id4 div, #id5 div, #id6 div {
  background-color: whitesmoke;
}

#recrut{
  color: black;
}

body{
  position: relative;
  z-index: 10;
  margin: 0;
  top: 0;
  bottom: 0;
  padding: 0;
  background-image: url('../img/binaire.jpg');
  background-attachment: fixed;
  background-size: 100% 1000px;
  background-position: center;
  background-repeat: no-repeat;
}

a:link{
  text-decoration: none;
  color: grey;
  border-bottom: 0px;
  font-size: 20px;
}

a:visited{
  color: mintcream;
}

.savoir:hover{
  font-size: 21px;
  border-bottom: 1px solid;
}

a:active{
  color: purple;
}

.banderole{
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.right {
  float: right;
  border: 11px solid black;
  width: 45%;
  height: auto;
  text-align: center;
  margin-bottom: 5px;
  margin-right : 4%;
  background-color: white;
}

footer img{
  max-width: 2%;
  height: auto;
  margin-left: 8%;
  vertical-align: middle;
  margin-right: 15px;
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0; padding: 0;
}
body {
	display : table;
	width: 100%;
}
footer {
	display : table-footer-group;
	height: 20px;
  background-color: black;
}
footer div p {
  color : white;
  text-transform : uppercase;
}

/* http://pingouindesalpes.com/hugo/post/popup/#fermer */

.cf:before,
.cf:after {
  content:"";
  display:table;
}
.cf:after {
  clear:both;
}
.droite {
  float:right;
}

#id1 .droite {
  color: grey;
}
#id2 .droite {
  color: grey;
}
#id3 .droite {
  color: grey;
}
#id4 .droite {
  color: grey;
}
#id5 .droite {
  color: grey;
}
#id6 .droite {
  color: grey;
}

.display {
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
   opacity:0;
   -webkit-transition: opacity 400ms ease-in;
   -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.display:target {
  opacity:1;
  pointer-events: auto;
}
.display:target > div {
  margin: 10% auto;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.display > div {
  max-width: 600px;
  position: relative;
  margin: 1% auto;
  padding: 8px 8px 8px 8px;
  border-radius: 5px;
  background: #eee;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.display > div header {
  border-bottom: 1px solid #e7e7e7;
  border-radius: 5px 5px 0 0;
}
.display .footer {
  border:none;
  border-top: 1px solid #e7e7e7;
  border-radius: 0 0 5px 5px;
}
.display > div h2 {
  margin:0;
}
.display > div .btn {
  float:right;
}
.display > div section,.display > div > header, {
  padding:15px;
}

.display > div {
  overflow-y: auto;
  max-height: 75%;
}

.display:target p{
  text-align: justify;
}
